input {
    color: #143d59;
    background-color: #f4b41a;
    height: 30px;
    width: 40%;
    border-radius: 10px;
}
button {
    background-color: #f4b41a;
    border: 0;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    font-size: 20px;
    color: #143d59;
}
.box {
    border-radius: 1cm;
    display: flex;
    background-color: #143d59;
    width: max-content;
    height: max-content;
}
.heading {
    font-size: 25px;
    color: #f4b41a;
    font-family: 'Orbitron', sans-serif;
}
.head {
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    color: #f4b41a;
}
.box1 {
    margin: 50px;
}
.display {
    border-radius: 10px;
    background-color: #f4b41a;
    color: #143d59;
    height: 30px;
    width: 80%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
button:hover {
    color: #f4b41a;
    background-color: #143d59;
}
